<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SRC/Components/Login/CSS/Login.css">
    <title>Ecoparadise - login</title>
</head>
    <body>
        <div id="login_lontainer">
                <label>User</label>
                <br>
                    <input type="text" placeholder="Username..." id="UserID">
                    <br>
                <label>Password</label>
                <br>
                    <input type="text" placeholder="Password..." id="PassId">
                    <br>
                <button id="loginBtn" class="btn">Login Now</button>
        </div>
    </body>
</html>